/* THIRD CONTENT */
  
.ThirdContent {
    padding: 100px 5%;
    display: flex;
    flex-direction: column;
    
  }
  
  .ThirdContentDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px
  }
  
  .ThirdContentDiv h1 {
    font-family: Kanit;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
  }
  
  .ThirdContentP p{
    text-align: left;
  }
  
  .whiteBlock {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 619px;
    height: 50px
  }
  
  .whiteBlock img {
    margin-left: 13px;
    margin-right: 13px;
  }
  
  
  .inputAndButton {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  
  .ThContInput {
    height: 22px;
    width: 495px;
    left: 49px;
    top: 14px;
    border-radius: 0;
    border: none;
  }
  
  .ThContButton {
    background-color: #712FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 50px;;
    border-radius: 100px;
  }
  
  .ThContButt {
    background-color: #712FFF;
    color: white;
    border: none;
  }