@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Kanit:wght@500;700&display=swap');

.App {
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;

}

.AppDiv {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #F1F1F1;
  width: 1519px;

}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  margin: auto;
  width: 90%;

}

.HeaderLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 700px;
}

.HeaderLogo p{
  font-family: 'Kanit';
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;

}

.HeaderLogoImage {
  width: 18.68px;
  height: 22px;
}

.HeaderButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.HeaderButtonsButton {
  font-family: 'Inter', sans-serif;
  padding: 10px 12px;
  border: none;
}

.HeaderButtonsButton2 {
  font-family: 'Inter', sans-serif;
  padding: 10px 12px;
  border: none;
  background-color: rgba(8, 30, 52, 0.12);
  border-radius: 100px;
  color: #081E34;
}

/* LAST LINE */

.Footer {
  padding: 32px 5%;
  gap: 32px;
  display: flex;
  flex-direction: column;
  border-start-start-radius: 32px;
  border-start-end-radius: 32px;
  background-color: white;
}

.FooterDivs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nFactlorial {
  display: flex;
  flex-direction: row-reverse;
}

.FooterButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.FooterButtons button {
  background-color: white;
  border: none;
}

.last-text {
  display: flex;
  align-items: center;
}

.last-text p {
  margin: 0;
  text-align: end;
  opacity: 50%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}